@charset "utf-8";
/* CSS Document */

body{
	font-family:Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana,' sans-serif';
}
.container{
	width: 100%;
	height: 100%;
	background-size: cover;
}
.head {
	width: 100%;
	height: 5%;
	margin:auto;
	padding-top: 7px;
}
.head .person-center *{
	vertical-align: middle;
	display: inline-block;
}
.head .person-center {
	
	height: 100%;
	width: 820px;
	margin: auto;
	margin-left: 30px;
	margin-top: 7px;
	
}
.person-center .self-center{
	margin:auto;
	color: black;	
}
.person-center .perface{
	height: 100%;
	width: 150px;
	margin-left:530px;
	margin-top: 0px;
	color: red;
}
.main{
	height: 70%;
}
.footer{
	height: 25%;
	background: #090A0F;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	border-radius: 20px 20px 0px 0px;
}
.footer-left{
	margin-left: 400px;
	margin-right: 50px;
}
.footer-left,.footer-center,.footer-right{
	margin: auto;
	margin-top: 10px;
	color: white;
	text-align: center;
}
.github{
	border-radius: 40px;
}
.footer-right{
	margin-left: 50px;
	margin-right: 400px;
}
.footer-center .banquan{
	margin: auto;
	right: 700px;
	color: white;
}