@charset "utf-8";
/* CSS Document */

body{
	font-family:Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana,' sans-serif';
}
*{
	margin: auto;
}
.container{
	width: 100%;
	height: 100%;
	background-size: cover;
}
.head {
	width: 100%;
	height: 5%;
	margin:auto;
	padding-top: 7px;
}
.head .person-center *{
	vertical-align: middle;
	display: inline-block;
}
.head .person-center {
	
	height: 100%;
	width: 820px;
	margin: auto;
	margin-left: 30px;
	margin-top: 7px;
	
}
.person-center .self-center{
	margin:auto;
	color: black;	
}
.person-center .perface{
	height: 100%;
	width: 150px;
	margin-left:530px;
	margin-top: 0px;
	color: red;
}
.main{
	height: 70%;
	width:100%;
	display: table;
}
.main-info{
	width: 800px;
	height: 220px;
	background-image:url(qingyuan.jpg);
	border-radius: 15px 15px 0px 0px;
	margin-top: 40px;
}
.avatar{
	text-align: center;
	padding-bottom: 15px;
}
.avatar img{
	border-radius: 100%;
	display: inline-block;
	margin-top: 30px;
}
.nickname{
	text-align: center;
	color: white;
	font-family: 微软雅黑;
	font-size: 20px;
	margin-top: 40px;
	margin-left: 360px;
}
.male{
	border-radius: 100%;
}
.site-intro{
	text-align: center;
	color:black;
	font-family: 微软雅黑;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 30px;
}
.link{
	width: 800px;
	height: 40px;
	background:black;
	opacity: 0.5;
	border-radius: 0px 0px 15px 15px;
	text-align: center;
	text-decoration:none;
}
.link ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}
.link ul li{
	width: 200px;
	height: 45px;
	text-align: center;
	line-height: 50px;
	color: white;
	font-family: 微软雅黑;
}
.link ul li ul{
	display: inline;
	line-height: 24px;
}
.link ul li ul li {

	float: none;
	display: none;
}
a {
	text-decoration: none;
	text-align: center;
}
.link ul li:hover li {

	display: block;

}
ul li a:hover {

	background-color: #0CC;

}
ul li ul li a:hover {

	background-color: #0CC;

}
.main-content{
	margin-top: 20px;
	width:800px;
	height: 82%;
	display: flex;
	flex-direction: row;
}
.main-content .main-content-left{
	width:35%;
	height: 50%;
	margin-right: 20px;
	border-radius: 10px;
}
.main-content-left .left-top{
	height: 22%;
	width: 100%;
	margin-bottom: 20px;
	border: solid 2px gray;
	border-radius: 10px;
}
.left-top .person-info{
	display: flex;
	flex-direction: row;
}
.person-info .person-info-left{
	width: 70px;
	margin-left: 13px;
	font-size: 15px;
	color: black;
}
.person-info .person-info-right{
	font-size: 15px;
	color: black;
}
.main-content .main-content-right{
	width:65%;
	height: 100%;
	border-radius: 10px;
}
.footer{
	height: 25%;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	border-radius: 20px 20px 0px 0px;
}
.footer-left{
	margin-left: 400px;
	margin-right: 50px;
}
.footer-left,.footer-center,.footer-right{
	margin-top: 10px;
	color: white;
	text-align: center;
}
.github{
	border-radius:100%;
}
.footer-right{
	margin-left: 50px;
	margin-right: 400px;
}
.footer-center .banquan{
	text-align: center;
	color: black;
	font-size: 15px;
	margin-bottom: 120px;
}